h1{
    text-align: center;
    color: rgb(147, 52, 52);
}
img{
    width: 450px;
    height: 250px;
    padding-left: 20px;
    padding-top: 20px;

}
.block1{
    background-color: rgb(123, 123, 250);
    border: solid 2px rgb(43, 43, 43);
    height: 350px;
}
h3{
    color: rgb(179, 164, 164);
    padding-left: 20px;
    margin: 0px;
}
a{
    color: rgb(179, 69, 69);
    padding-left: 20px;
    margin-bottom: 20px;
}
.block2{
    background-color: rgb(84, 57, 115);
    border: solid 2px rgb(43, 43, 43);
    height: 350px;
}
.block3{
    background-color: rgb(52, 217, 157);
    border: solid 2px rgb(43, 43, 43);
    height: 350px;
}
.text{
    color: rgba(28, 117, 112, 0.795);
}
.text2{
    color: rgb(235, 7, 7);
    font-size: 25px;    
}

    
